<div class="side-bar">
<h1>Atlanta Food Pop Ups</h1>
<p>
    All the food pop ups in your area in one place.
    Never miss out on your favorite restaurant
    events again.
</p>

{{#each locations}}
<a href="/locations/{{_id}}">{{neighborhood}}</a>
{{/each}}

<form action="/locations/new" method="get">
    <input class="btn btn-success" type="submit" value="Add a Neighborhood">
</form>


</div>

<div class="top-bar">
    <form action="/locations" method="get">
    <input class="btn btn-info" type="submit" value="Back to Home">
</form>
</div>

<div class="main">
{{#each food}}
    <div>
            <a href="/locations/{{locationId}}/food/{{_id}}">{{restaurant}}</a>
            {{address}}
            {{time}}
    </div>
    {{/each}}
</div>