<h1>Atlanta Food Pop Ups</h1>

{{#each locations}}
<a href="/locations/{{_id}}">{{neighborhood}}</a>
{{/each}}

<form action="/locations/new" method="get">
    <input type="submit" value="Add a Neighborhood">
</form>

<p>
    All the food pop ups in your area in one place.
    Never miss out on your favorite restaurant
    events again.
</p>

<div>
{{#each food}}
        <div>
            <a href="/locations/{{locationId}}/food/{{_id}}">{{restaurant}}</a>
            {{address}}
            {{time}}
        </div>
    {{/each}}
</div>