<div class="side-bar">

<h1>Atlanta Pop Ups</h1>

<p>
    All the pop ups in your area in one place.
    Never miss out on your favorite store or restaurants 
    event again.
</p>



{{#each locations}}
<a href="/locations/{{_id}}">{{neighborhood}}</a>
{{/each}}

<form action="/locations/new" method="get">
    <input class="btn btn-success" type="submit" value="Add a Neighborhood">
</form>

</div>

<div class="top-bar">
<form class="food" action="/locations/food" method="get">
    <input class="btn btn-info" type="submit" value="Food">
</form>

<form class="shop" action="/locations/shops" method="get">
    <input class="btn btn-info" type="submit" value="Shops">
</form>
</div>

<div class="main">

{{!-- <div id="pop-ups"> --}}
    {{#each shops}}
        <div>
            <a href="/locations/{{locationId}}/shops/{{_id}}">{{shop}}</a>
            {{address}}
            {{time}}
        </div>
    {{/each}}
    {{#each food}}
        <div>
            <a href="/locations/{{locationId}}/food/{{_id}}">{{restaurant}}</a>
            {{address}}
            {{time}}
        </div>
    {{/each}}
{{!-- </div> --}}
</div>