<h1>Atlanta Shop Pop Ups</h1>

<form action="/locations" method="get">
    <input type="submit" value="Back to Home">
</form>

{{#each locations}}
<a href="/locations/{{_id}}">{{neighborhood}}</a>
{{/each}}

<form action="/locations/new" method="get">
    <input type="submit" value="Add a Neighborhood">
</form>

<p>
    All the shop pop ups in your area in one place.
    Never miss out on your favorite shop
    events again.
</p>

<div>
{{#each shops}}
        <div>
            <a href="/locations/{{locationId}}/shops/{{_id}}">{{shop}}</a>
            {{address}}
            {{time}}
        </div>
    {{/each}}
</div>