<h2>{{location.neighborhood}} Pop Ups</h2>

<form action="/locations" method="get">
    <input type="submit" value="Back to Home">
</form>

<form method="POST" action="/locations/{{location._id}}?_method=DELETE">
  <input type="submit" value="Delete Location" />
</form>

<button>Add a Pop Up</button>
<button>Food</button>
<button>Clothes</button>

<div id="{{location.neighborhood}}-pop-ups">
  {{#each food}}
    {{restaurant}}
    {{address}}
    {{time}}
  {{/each}}
  {{#each shops}}
    {{shop}}
    {{address}}
    {{time}}
  {{/each}}
</div>