<h2>{{location.neighborhood}} Pop Ups</h2>

<form action="/locations" method="get">
    <input type="submit" value="Back to Home">
</form>

<form method="POST" action="/locations/{{location._id}}?_method=DELETE">
  <input type="submit" value="Delete Location" />
</form>

<form action="/locations/{{location._id}}/food/new" method="get">
  <input type="submit" value="Add a Food Pop Up">
</form>

<form action="/locations/{{location._id}}/shops/new" method="get">
  <input type="submit" value="Add a Shop Pop Up">
</form>

<form action="/locations/{{location._id}}/food" method="get">
  <input type="submit" value="Food">
</form>

<form action="/locations/{{location._id}}/shops" method="get">
  <input type="submit" value="Shops">
</form>


<div id="{{location.neighborhood}}-pop-ups">
  {{#each food}}
    <a href="/locations/{{locationId}}/food/{{_id}}">{{restaurant}}</a>
    {{address}}
    {{time}}
  {{/each}}
  {{#each shops}}
    <a href="/locations/{{locationId}}/shops/{{_id}}">{{shop}}</a>
    {{address}}
    {{time}}
  {{/each}}
</div>