<div class="side-bar">
<h2>{{location.neighborhood}} Pop Ups</h2>

<form method="POST" action="/locations/{{location._id}}?_method=DELETE">
  <input class="btn btn-danger delete" type="submit" value="Delete Location" />
</form>

<form action="/locations/{{location._id}}/food/new" method="get">
  <input class="btn btn-success add" type="submit" value="Add a Food Pop Up">
</form>

<form action="/locations/{{location._id}}/shops/new" method="get">
  <input class="btn btn-success add" type="submit" value="Add a Shop Pop Up">
</form>

</div>


<div class="top-bar">
<form class="back-home" action="/locations" method="get">
    <input class="btn btn-info" type="submit" value="Back to Home">
</form>

<form class="food" action="/locations/{{location._id}}/food" method="get">
  <input class="btn btn-info" type="submit" value="Food">
</form>

<form class="shop" action="/locations/{{location._id}}/shops" method="get">
  <input class="btn btn-info" type="submit" value="Shops">
</form>

</div>


<div id="{{location.neighborhood}}-pop-ups">
  <div>
  {{#each food}}
    <a href="/locations/{{locationId}}/food/{{_id}}">{{restaurant}}</a>
    {{address}}
    {{time}}
  {{/each}}
  </div>
  <div>
  {{#each shops}}
    <a href="/locations/{{locationId}}/shops/{{_id}}">{{shop}}</a>
    {{address}}
    {{time}}
  {{/each}}
  </div>
</div>