<h2>{{foodPopUp.restaurant}} Pop Up</h2>

<form action="/locations/{{foodPopUp.locationId}}/food/{{foodPopUp._id}}/edit" method="get">
    <input type="submit" value="Edit Pop Up">
</form>

<form action="/locations/{{foodPopUp.locationId}}/food/{{foodPopUp._id}}?_method=DELETE" method="post">
    <input type="submit" value="Delete Pop Up">
</form>