<div class="side-bar">
<h2>Shop Pop Ups</h2>
</div>

<div class="top-bar">
    <form action="/locations" method="get">
    <input class="btn btn-info" type="submit" value="Back to Home">
</form>
</div>

<div class="location-shop-main">
{{#each locationShopPopUps}}
    <div>
    <a href="/locations/{{locationId}}/shops/{{_id}}">{{shop}}</a>
    {{address}}
    {{time}}
    </div>
{{/each}}
</div>